h1 Home#index
p Find me in app/views/home/index.html.slim


javascript:
  $.notify({
    icon: 'ti-gift',
    message: "Bem-Vindo ao <b>RHIS Aulas</b> - o nome portal de matrículas da RHIS Ensino."
    }, {
      type: 'success',
      timer: 4000
  });